{% extends 'base.html' %}
{% block content %}
<h1> Welcome to "SERBIAN RECIPES" </h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
       <a class="nav-link" href="{{ url_for('get_all', category='Appetizers') }}">Appetizers</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='Main') }}">Main</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='Desserts') }}">Desserts</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='All') }}">All Recipes</a>
    </div>
  </div>
</div>

{% endblock %}