{% extends 'base.html' %}
{% block content %}

<div class="recipe-headline" >
<h3>Welcome to</h3>
<h1>SERBIAN KITCHEN</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
       <a class="nav-link" href="{{ url_for('get_all', category='appetizers') }}">Appetizers</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='main') }}">Main</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='desserts') }}">Desserts</a>
    </div>
    <div class="col-sm">
      <a class="nav-link" href="{{ url_for('get_all', category='all') }}">All Recipes</a>
    </div>
  </div>
</div>

{% endblock %}