{% extends 'base.html' %}
{% block content %} 

        <h2> {{ page_title }} </h2>
 <div class="row">       
        {% for recipe in recipes %}
        
    <div class="col-sm-6 col-md-4">
    <a href="{{url_for('get_recipe', recipes_id=recipe_id)}}">
      <div class="card">
        <div class="card-image">
         
          <img src="{{recipe.img_url}}">
          <span class="card-title">{{recipe.recipe_name}}</span>
        </div>
        
        <div class="card-content">
          <p>{{recipe.recipe_desciption}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
      </a>
    </div>
  </div>
  
        {% endfor %}
 
{% endblock %}