{% extends 'base.html' %}
{% block content %} 

<div class="recipe-headline">
<h2>{{recipe.recipe_name}}</h2>
</div>

<img class="recipe-img" src="{{recipe.img_url}}" alt="recipe photo">

<div class="description">
    <h6>{{recipe.recipe_description}}</h6>
</div>

<div class="time">
<h4><i class="far fa-clock"></i>Cooking time:{{recipe.preparation_time}} hours</h4>
</div>

<div class="ingredients">
<h3> Ingredients: </h3>
<ul>
   {% for line in recipe.ingredients.splitlines() %}
        <li class="ingredient">
            <h5>{{line}}</h5>
        </li>
        {% endfor %}
</ul>
</div>



<div class="row instructions">
<h3> Instructions </h3>
<h5>{{recipe.how_to}}</h5>
</div>


 

{% endblock %}